body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: auto;
  padding: 0 10px;
}


.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-header {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
}

.main-navigation-wrapper {
  width: 100%;
  background-color: #000000;
}


.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}

.cite-navigation {
  width: 620px;
}




.cite-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.cite-navigation {
display: flex;
flex-wrap: wrap;
}

.cite-navigation a,
.user-navigation a{
  display: block;
  padding: 26px 20px;
  color: #ffffff;
  font-size: 16px;
}

.user-navigation {
  display: flex;
  max-width: 140px;
}

.user-navigation a {
  position: relative;
   padding-left: 50px;
}


.user-navigation a::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 24px;
  width: 16px;
  height: 18px;
  background: url("../img/login@1x.png") no-repeat 0 0;
  opacity: 0.3;
}

.user-navigation a:hover::before,
.user-navigation a:focus::before,
.user-navigation a:active::before{
  opacity: 1;
}


.cite-navigation li,
.user-navigation li{

}


.cite-navigation a:hover,
.cite-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-barber {
  display: block;
  width: 371px;
  height: 155px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.advantages {
  margin-bottom: 80px;
}



.advantages-item h3{
  position: relative;
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.advantages-item h3::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.advantages-item p {
  margin: 0 10px;
}


.advantages-item {
  width: 300px;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin:0;
  padding: 0;
  list-style: none;
}


.index-coloms {
  display: flex;
  justify-content: space-between;
  color: #000000;
  margin-bottom: 35px;
  background-color: #f8f5f2;
  background-image: url("../img/background-coloms");
  background-repeat: repeat;
  background-position: 0 0;
  padding: 50px 80px;
}

.index-coloms h2 {
  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}
.gallery {
  width: 300px;
}

.news-list {
  list-style: none;
}


.news-list time {
  text-transform: none;
}

.gallery-content {
  background-color: #e5e5e5;
  border: 7px solid #ffffff;
}

.btn {
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #663d15;
}

.contacts {
  width: 380px;
}

.appointment {
  width: 300px;
}


.appointment input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.appointment input:hover,
 .appointment input:focus{
  border: 2px solid #663d15;
}

.main-fotter{
    color: #ffffff;
    background-color: #202020;
    background-image: url("../img/background-footer");
    background-repeat: repeat;
    background-position: 0 0;
    margin-top: 65px;
}

.main-fotter .container {
  display: flex;
  padding: 60px 0;
}

.content-footer {
  width: 320px;
  margin:0;
  margin-right: 80px;

}

.content-footer a {
  text-decoration: underline;
  color: #ffffff;
}

.content-footer a:hover,
.content-footer a:focus {
  text-decoration: none;
}

.social li{
  display: inline-block;
  list-style: none;
}

.social {
  width: 145px;
  font-size:0;
  text-align: center;
}
.social ul {
  padding: 0;
}

.social a,
.social b {
  font-size: 14px;
  color: #ffffff;
}

.item-text {
  width: 150px;
  text-align: center;
  margin: 0;
  margin-left: auto;

}

.item-text .btn:hover,
.item-text .btn:focus {
  color: #000000;
  background-color: #ffffff;
}


.modal{
  color: #000000;

  background-image: url("../img/background-coloms.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input {
  font: inherit;
  border: 2px solid #000000;
  text-transform: uppercase;
  background-color: transparent;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover {
  text-decoration: none;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}


.modal-login {
  width: 460px;
  padding: 45px 80px;
}

.model {
  color: #000000;

  background-image: url("../img/background-coloms.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.model h2 {
  font-size: 30px;
  line-height: 42px;
}


.inner-page {
  color: #000000;
  background-image: url("../img/background-coloms.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.inner-page .main-header {
  margin-bottom: 55px;
  background-color: #000000;
}

.title-main {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 55px;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs a {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
}

.catalog-column {
  display: flex;
  justify-content: space-between;
}

.product-photo {
  width: 460px;
}


.description-product {
  width: 390px;
}

.filters {
  width: 180px;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 25px;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.facilities {
  width: 240px;
}

.prices {
  width: 460px;
}

.about-title {
  display: flex;

}

.about-us-title {
  width: 380px;
  margin:0;
  padding: 0;
  margin-right: 100px;
}

.about-us-title:last-child {
  margin-right: 0;
}
